{
  "openapi": "3.0.2",
  "info": {
    "title": "Natural History Study Article Prediction API",
    "description": "\n<p align=\"center\">\n    <img src=\"https://github.com/ncats/epi4GARD/raw/master/ncats.png\" alt=\"National Center for Advancing Translational Sciences Logo\" width=600>\n    <br>\n    <br>\n</p>\n\nThis API was developed by the **[National Center for Advancing Translational Sciences (NCATS)](https://ncats.nih.gov/)**.\n\nIt utilizes a transformer-based machine learning model to predict the relevance of articles for Natural History Studies. It is specifically designed to handle batches of article abstracts and assess their relevance to the study of rare diseases.\n\nInput:\n\nThe API requires a JSON object with a key named \"texts\" that contains a list of article abstracts as strings. Each string should represent the abstract of a research article. The API evaluates each abstract individually to generate predictions.\n\nOutput:\n\nThe response is a JSON object with a key \"predictions\" that contains an array of integers. Each integer represents a category or outcome for each abstract provided in the input. Predictions are returned in the same order as the input texts.\n\nA prediction of '0' indicates that the article is either not primarily experimental or not focused on the natural history of a disease.\nA prediction of '1' indicates that the article's primary contribution is relevant to the study of the natural history of a rare disease.\n\nError Handling:\n\nIf the \"texts\" list is empty, improperly formatted, or not provided, the API will return a 400 Bad Request error, detailing the nature of the input error with an appropriate message.\nThe API accepts empty strings within the list and provides a prediction result for each, including empty strings.\n\nFor more information, please visit our Github repository at: https://github.com/ncats/RDAS/tree/minghui_development/NaturalHistory_Transformer_API_v1.0.\n",
    "license": {
      "name": "National Center for Advancing Translational Sciences License",
      "url": "https://github.com/ncats/epi4GARD/blob/master/LICENSE"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://rdas.ncats.nih.gov/api/article_prediction"
    }
  ],
  "paths": {
    "/v1/predict": {
      "post": {
        "summary": "Predict",
        "operationId": "predict_v1_predict_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TextInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HTTPValidationError": {
        "properties": {
          "detail": {
            "items": {
              "$ref": "#/components/schemas/ValidationError"
            },
            "type": "array",
            "title": "Detail"
          }
        },
        "type": "object",
        "title": "HTTPValidationError"
      },
      "TextInput": {
        "required": ["texts"],
        "properties": {
          "texts": {
            "type": "array",
            "description": "List of texts to predict",
            "example": [
              "This is an example text!",
              "The natural history, prognostication and optimal treatment of Richter transformation developed from chronic \nlymphocytic leukemia (CLL) are not well defined. We report the clinical characteristics and outcomes of a large series of \nbiopsy-confirmed Richter transformation (diffuse large B-cell lymphoma or high grade B-cell lymphoma, n=204) cases diagnosed \nfrom 1993 to 2018. After a median follow up of 67.0 months, the median overall survival (OS) was 12.0 months. Patients who \nreceived no prior treatment for CLL had significantly better OS (median 46.3 vs. 7.8 months; P<0.001). Patients with elevated \nlactate dehydrogenase (median 6.2 vs. 39.9 months; P<0.0001) or TP53 disruption (median 8.3 vs. 12.8 months; P=0.046) had worse\n OS than those without. Immunoglobulin heavy chain variable region gene mutation, cell of origin, Myc/Bcl-2 double expression and\n  MYC/BCL2/BCL6 double-/triple-hit status were not associated with OS. In multivariable Cox regression, elevated lactate dehydrogenase\n   [Hazard ratio (HR) 2.3, 95% Confidence Interval (CI): 1.3-4.1; P=0.01], prior CLL treatment (HR 2.0, 95%CI: 1.2-3.5; P=0.01), \n   and older age (HR 1.03, 95%CI: 1.01-1.05; P=0.01) were associated with worse OS. Twenty-four (12%) patients underwent stem cell \n   transplant (20 autologous and 4 allogeneic), and had a median post-transplant survival of 55.4 months. In conclusion, the overall \n   outcome of Richter transformation is poor. Richter transformation developed in patients with untreated CLL has significantly better \n   survival. Stem cell transplant may benefit select patients.\n"
            ],
            "items": {
              "type": "string"
            }
          }
        },
        "type": "object",
        "title": "TextInput"
      },
      "ValidationError": {
        "properties": {
          "loc": {
            "items": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "integer"
                }
              ]
            },
            "type": "array",
            "title": "Location"
          },
          "msg": {
            "type": "string",
            "title": "Message"
          },
          "type": {
            "type": "string",
            "title": "Error Type"
          }
        },
        "type": "object",
        "required": ["loc", "msg", "type"],
        "title": "ValidationError"
      }
    }
  },
  "tags": [
    {
      "name": "article_prediction_api/v1",
      "description": "Prediction operations"
    }
  ]
}
