# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
dist.zip

#environments
apps/rdas/src/environments/environment.ts
apps/rdas/src/environments/environment.prod.ts
apps/rdas-graphql/src/environments/environment.ts
apps/rdas-graphql/src/environments/environment.prod.ts
apps/rdas-express/src/environments
apps/rdas-express/src/environments/environment.ts
apps/rdas-express/src/environments/environment.prod.ts
apps/neo4j-introspection/src/environments/environment.ts
apps/neo4j-introspection/src/environments/environment.prod.ts
apps/rdas/src/environments/environment.test.ts
apps/resolver/src/environments
apps/resolver/src/environments/environment.ts

.dev.ts
.prod.ts
# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/logs

# System Files
.DS_Store
Thumbs.db

.angular
.nx
*.git/

apps/rdas-e2e
/apps/adme-loader-backend/src/environments/environment.ts
