
@use '@angular/material' as mat;
@import 'libs/styles/src/styles/rdas-theme';


a {
  color: mat.get-color-from-palette($app-primary);
}

.content-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.toolbar-template {
  background-color: mat.get-color-from-palette($app-primary);
  color: #ffffff !important;
  //  z-index: 666;
}

.footer-template {
  background-color: mat.get-color-from-palette($app-primary);
  color: #ffffff;
}
.main-content {
  margin-top: 15vh;
}

.header-search {
  width: 30vw;
  padding-right: 2vw;
  color: white;
}
