<div class="content-wrapper" #contentWrapper cdkScrollable>
  <mat-sidenav-container class="mobile-menu-container">
    <header>
      @if (mobile) {

      <ncats-frontend-library-mobile-header-template [links]="links" #appHeader>
        <div left-options>
          <a routerLink="/">
            <img
              src="/assets/rdas_final_gradient_no_logo_small.svg"
              alt="Rare Disease Alert System"
              class="rdas-logo"
            />
          </a>
        </div>
        <div icon>
          <a routerLink="/">
            <img
              src="/assets/rdas_final_gradient_no_logo_small.svg"
              alt="Rare Disease Alert System"
              class="rdas-logo"
            />
          </a>
        </div>
        <div class="right-options">
          <ncats-frontend-library-rdas-search
            class="header-search"
            (diseaseSelect)="selectDisease($event)"
            (diseaseSearch)="searchDiseaseString($event)"
          ></ncats-frontend-library-rdas-search>
          <ncats-frontend-library-social-sign-on-button
          ></ncats-frontend-library-social-sign-on-button>
        </div>
      </ncats-frontend-library-mobile-header-template>

      } @else {

      <ncats-frontend-library-header-template [links]="links">
        <div class="left-options">
          <a routerLink="/">
            <picture>
              <source
                srcset="/assets/rdas_final_gradient_no_logo_small.webp"
                type="image/webp"
              />
              <source
                srcset="/assets/rdas_final_gradient_no_logo_small.svg"
                type="image/svg"
              />
              <img
                src="/assets/rdas_final_gradient_no_logo_small.png"
              alt="Rare Disease Alert System"
                class="rdas-logo"
              />
            </picture>
          </a>
        </div>
        <div class="right-options">
          @if (!hideSearch) {
          <ncats-frontend-library-rdas-search
            class="header-search"
            (diseaseSelect)="selectDisease($event)"
            (diseaseSearch)="searchDiseaseString($event)"
          ></ncats-frontend-library-rdas-search>
          }
          <ncats-frontend-library-social-sign-on-button
          ></ncats-frontend-library-social-sign-on-button>
        </div>
      </ncats-frontend-library-header-template>

      }

      <!-- Custom content -->

      <!--
-->
    </header>
    <main role="main">
      <div class="main-content" (click)="closeSidenav()">
        <!--
      <ncats-frontend-library-loading-spinner [isLoaded]="loaded"></ncats-frontend-library-loading-spinner>
-->
        <router-outlet></router-outlet>
      </div>
    </main>
    <footer>
      <ncats-frontend-library-footer-template>
        <div class="app-description">
          <picture>
            <source srcset="/assets/rdas_final_gradient_no_logo_small_white.webp" type="image/webp" />
            <source srcset="/assets/rdas_final_gradient_no_logo_small_white.svg" type="image/svg" />
            <img
              src="/assets/rdas_final_gradient_no_logo_small_white.png"
              alt="Rare Disease Alert System"
              class="rdas-footer-logo"
            />
          </picture>
        </div>
      </ncats-frontend-library-footer-template>
    </footer>
  </mat-sidenav-container>
</div>
