<div class = "content-wrapper">
  <header>
    <ncats-frontend-library-header-template [links]="links">
      <div class="left-options">
<!--
        <h2 class="app-title">Rare Disease Alert System</h2>
-->
      <img src="/assets/rdas_final_gradient.svg" alt="rdas logo" class="rdas-logo">
      </div>
      <div class="right-options">
        <ncats-frontend-library-rdas-search *ngIf="!hideSearch" class ="header-search" (diseaseSelect)="selectDisease($event)"></ncats-frontend-library-rdas-search>
        <ncats-frontend-library-social-sign-on-button [user] = user></ncats-frontend-library-social-sign-on-button>
      </div>
    </ncats-frontend-library-header-template>
  </header>
  <main role ="ncats-main">
    <div class="main-content">
      <ncats-frontend-library-loading-spinner [isLoaded]="!loaded"></ncats-frontend-library-loading-spinner>
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer>
<ncats-frontend-library-footer-template></ncats-frontend-library-footer-template>
  </footer>
</div>
