.content-wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.white-background {
  background-color: #ffffff;
  color: #000000;
}
.main-content {
  background-color: #fafafa;
  padding-top: 64px;
  min-height: 60vh;
}

.search-row {
  background-color: #ffffff;
}

.header-search {
  width: 30vw;
  padding-right: 2vw;
  color: white;
}

.right-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}

img.rdas-logo {
  height: 3rem;
  display: flex;
  padding-right: 2vw;
}

img.rdas-footer-logo {
  height: 8rem;
}

.rdas-tab-label {
  font-size: 16px;
}

.filter-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22%, 2%));
  grid-gap: 2%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .main-content {
    padding-top: 55px;
  }

  img.rdas-footer-logo {
    height: 6rem;
  }
}
