@use 'libs/styles/src/styles/ramp-theme.scss' as theme;
@use '@angular/material' as mat;
@use '_utils' as utils;
@use 'libs/shared/utils/footer-template/src/lib/footer-template/_footer-theme.scss'
  as footer;
@use 'libs/shared/utils/charts/upset-chart/src/lib/upset-chart/_upset-chart.theme.scss'
  as upset;
@use 'libs/features/ramp/ramp-about/src/lib/ramp-about/_ramp-about-theme.scss'
  as ramp-about;
@include mat.elevation-classes();
@include mat.app-background();

@include utils.width-sm(50);
@include utils.width-sm(90);
@include utils.width-sm(95);
@include utils.width-sm(100);

@include utils.width-md(80);
@include utils.width-md(90);
@include utils.width-sm(75);
@include utils.width-md(100);

@include utils.width(95);
@include utils.width(90);
@include utils.width(80);
@include utils.width(75);
@include utils.width(70);
@include utils.width(66);
@include utils.width(60);
@include utils.width(55);
@include utils.width(50);
@include utils.width(45);
@include utils.width(40);
@include utils.width(33);
@include utils.width(30);
@include utils.width(25);
@include utils.width(20);
@include utils.width(10);
@include utils.width(5);
@include utils.horizontalpadding(2vw);
@include utils.text-align(center);
@include utils.text-align(left);
@include utils.text-align(right);

html,
body {
  height: 100%;
  margin: 0 !important;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
  scroll-behavior: smooth;
  @include mat.system-level-colors(theme.$light-theme);
  @include mat.all-component-themes(theme.$light-theme);
  @include footer.theme(theme.$light-theme);
  @include upset.theme(theme.$light-theme);
  @include ramp-about.theme(theme.$light-theme);
}

a {
  color: mat.get-theme-color(theme.$light-theme, primary);
  font-weight: bold;
}

.info-card {
  @include mat.card-overrides(
    (
      outlined-container-color:
        mat.get-theme-color(theme.$light-theme, surface-container),
    )
  );
}

.ramp-body {
  background-color: mat.get-theme-color(theme.$light-theme, surface-dim);
}
.svg-rectangle-fill {
  fill: mat.get-theme-color(theme.$light-theme, surface);
}

.navigation-menu-panel {
  @include mat.sidenav-overrides(
    (
      container-background-color:
        mat.get-theme-color(theme.$light-theme, surface-dim),
      container-shape: square,
    )
  );
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mat-drawer-content {
  overflow: visible !important;
}

.full-width {
  width: 95%;
}

.ramp-list {
  list-style: none;
}

.content-panel {
  margin-top: 10vh;
  padding-bottom: 5vh;
}

.code-block {
  white-space: break-spaces;
  background: #454545;
  color: #ffffff;
  border: solid 1px;
  border-radius: 5px;
  // padding: 10px;
  max-width: 100%;
}

.ramp-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.ramp-menu-button {
  padding: 16px !important;
}

.ramp-feedback-card {
  padding: 16px;
}

.main-ramp-rail {
  background-color: mat.get-theme-color(theme.$light-theme, primary) !important;
  border: none !important;
}

.main-rail {
  background-color: mat.get-theme-color(theme.$light-theme, surface-dim);
  width: 80px;
  position: fixed;
  left: 80px;
  padding-top: 20px;
  height: 100%;
}

.rail-button {
  background-color: mat.get-theme-color(theme.$light-theme, surface-dim);
  margin-bottom: 6px;
  height: 56px;
  padding-bottom: 12px;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  border: none;
}

.drawer-container-content {
  background-color: mat.get-theme-color(theme.$light-theme, surface-container);
}

.ramp-main > .rail-button {
  background-color: mat.get-theme-color(theme.$light-theme, primary);
}

.ramp-main > .active-rail-button {
  background-color: mat.get-theme-color(theme.$light-theme, surface-dim);
  color: mat.get-theme-color(theme.$light-theme, surface-dim);
  width: 103%;
}

.active-rail-button .rail-label,
.active-rail-button .rail-icon {
  color: mat.get-theme-color(theme.$light-theme, primary) !important;
}

.file-drop-boundary {
  background-color: mat.get-theme-color(theme.$light-theme, surface-container);
}

.rail-label-primary {
  color: mat.get-theme-color(theme.$light-theme, primary) !important;
}

.page-content {
  background-color: mat.get-theme-color(theme.$light-theme, surface-container);
}

.ramp-main-page {
  background-color: mat.get-theme-color(theme.$light-theme, surface-container);
}

.tabs-section {
  background-color: mat.get-theme-color(theme.$light-theme, surface-bright);
}

.active-sidemenu {
  @include mat.elevation(2, mat.get-theme-color(theme.$light-theme, secondary));
}

.primary-color-font {
  color: mat.get-theme-color(theme.$light-theme, primary);
}

.accent-color-font {
  color: mat.get-theme-color(theme.$light-theme, secondary);
}

.toolbar-template {
  background-color: mat.get-theme-color(theme.$light-theme, primary) !important;
  z-index: 666;
  color: #ffffff;
}

.ramp-tile {
  border: 1px solid;
  border-color: mat.get-theme-color(theme.$light-theme, primary) !important;
  padding: 0;
}

.ramp-card-header {
  background-color: mat.get-theme-color(theme.$light-theme, primary);
  color: #ffffff;
  padding: 20px;
}

.home-button {
  height: 68px;
  width: 100px;
  padding-bottom: 18px;
  padding-top: 12px;
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  border: #265668 2px solid;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  cursor: pointer;
}

.hovered-home-button :hover {
  background-color: rgba(255, 255, 255);
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  padding-top: 1vh;
}

.column {
  display: flex;
  flex-flow: column wrap;
  box-sizing: border-box;
}

.ramp-home-card {
  background-color: mat.get-theme-color(theme.$dark-theme, primary);
  color: #000000;
  padding: 0 2vw;
  margin-bottom: 2vh;
}

.ramp-home-card:hover {
  background-color: #ffffff;
  cursor: pointer;
}

.accordion-holder {
  @include mat.expansion-overrides(
    (
      container-shape: square,
    )
  );
}

.centered-row {
  align-content: center;
  align-items: center;
  justify-content: center;
}

.right-justified-row {
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

.space-around-row {
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.space-between-row {
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.top-align {
  align-items: start;
  align-content: start;
}

.bottom-align {
  align-items: end;
  align-content: end;
}

.right-text {
  text-align: end;
}

.no-padding {
  padding: 0;
}

.fill-container {
  width: 100%;
}

.navigation-menu-panel {
  width: 25%;
}

.banner-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.icon-button-image {
  width: 48px;
  height: 48px;
  position: sticky;
}

.icon-button-image > mat-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
}

ncats-frontend-library-loading-spinner {
  .progress-bar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -20vw;
    left: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .navigation-menu-panel {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .navigation-menu-panel {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .grid-list {
    grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
  }

  .width-50 {
    width: 75vw;
    flex-basis: 75vw;
  }
}

@media only screen and (max-width: 1024px) {
  .width-50 {
    width: 75vw;
    flex-basis: 75vw;
  }
}

@media only screen and (max-width: 960px) {
  .width-50 {
    width: 90vw;
    flex-basis: 90vw;
  }

  .hide-small {
    display: none;
  }
}
