{
  "servers": [
    {
      "url": "https://rampdb.nih.gov"
    },
    {
      "url": "https://ramp-api-alpha.ncats.io"
    },
    {
      "url": "http://127.0.0.1:5762"
    }
  ],
  "openapi": "3.1.0",
  "info": {
    "description": "Relational Database of Metabolic Pathways (RaMP) API",
    "title": "RaMP API v1.0.1",
    "version": "1.0.1",
    "contact": {
      "name": "RaMP",
      "x-role": "responsible developer",
      "email": "NCATSRaMP@nih.gov",
      "x-id": "https://github.com/ncats"
    },
    "termsOfService": "https://rampdb.nih.gov"
  },
  "paths": {
    "/api/source-versions": {
      "get": {
        "summary": "Return source version information. Includes RaMP version number, source database versions, and other metadata",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/api/id-types": {
      "get": {
        "summary": "Return valid RaMP-DB database prefixes for genes and metabolites (e.g. 'hmdb:', 'kegg:')",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/api/entity-counts": {
      "get": {
        "summary": "Return association counts for different RaMP-DB data types, broken down by source database (chemical properties, pathway associations, gene/metabolite/pathway counts)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/api/analyte-intersects": {
      "get": {
        "summary": "Return redundancy of source databases. Lists counts of identical analytes pulled from source databases.",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default response."
          }
        },
        "parameters": [
          {
            "name": "analytetype",
            "description": "specifies type of analyte intersects to return, 'metabolites' or 'genes'",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "query_scope",
            "description": "specifies 'global' or 'mapped-to-pathway'",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": {
              "analytetype": "metabolites",
              "query_scope": "mapped-to-pathway"
            }
          }
        ]
      }
    },
    "/api/ontology-types": {
      "get": {
        "tags": ["ontologies"],
        "summary": "Return all metabolite ontologies present in RaMP-DB, including ontology category (e.g. 'Health condition', 'Biofluid and excreta', etc.)",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        },
        "parameters": []
      }
    },
    "/api/chemical-class-type": {
      "get": {
        "tags": ["chemical-properties"],
        "summary": "Return chemical class levels present in RaMP-DB (e.g. sub-class, super-class)",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "description": "Default response."
          }
        },
        "parameters": [
          {
            "name": "classtype",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/pathways-from-analytes": {
      "post": {
        "tags": ["biochemical-pathways"],
        "summary": "Return chemical class levels present in RaMP-DB (e.g. sub-class, super-class)",
        "x-title": "Retrieve Pathways From Input Analyte(s)",
        "x-allowedTypes": {
          "metabolites": [
            "CAS",
            "chebi",
            "chemspider",
            "hmdb",
            "kegg",
            "kegg_glycan",
            "lipidbank",
            "LIPIDMAPS",
            "plantfa",
            "polymer",
            "pubchem",
            "rhea-comp",
            "swisslipids",
            "wikidata"
          ],
          "genes/proteins": []
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "description": "Retrieve pathway(s) for a given analyte(s). IDs should be prepended by ID source (e.g. **hmdb**:C00412).",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "analytes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "example": {
                  "analytes": [
                    "hmdb:HMDB0000033",
                    "hmdb:HMDB0000052",
                    "hmdb:HMDB0000094",
                    "hmdb:HMDB0000161",
                    "hmdb:HMDB0000168",
                    "hmdb:HMDB0000191",
                    "hmdb:HMDB0000201",
                    "chemspider:10026",
                    "hmdb:HMDB0006059",
                    "Chemspider:6405",
                    "CAS:5657-19-2",
                    "hmdb:HMDB0002511",
                    "chemspider:20171375",
                    "CAS:133-32-4",
                    "CAS:5746-90-7",
                    "CAS:477251-67-5",
                    "hmdb:HMDB0000695",
                    "chebi:15934",
                    "CAS:838-07-3",
                    "hmdb:HMDBP00789",
                    "hmdb:HMDBP00283",
                    "hmdb:HMDBP00284",
                    "hmdb:HMDBP00850"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/analytes-from-pathways": {
      "post": {
        "tags": ["analytes"],
        "summary": "Return analytes from given list of pathways as either json or a tsv",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "description": "Enter exact pathway name(s). `analyte_type` should be `\"gene\"`, `\"metabolite\"`, or `\"both\"` *(default)*",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "pathway": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "a string or a vector of strings that contains pathways of interest"
                  },
                  "analyteType": {
                    "type": "string",
                    "enum": ["gene", "metabolite", "both"],
                    "required": false,
                    "description": "a string denoting the type of analyte to return (\"gene\", \"metabolite\", \"both\")"
                  },
                  "match": {
                    "type": "string",
                    "enum": ["exact", "fuzzy"],
                    "required": false,
                    "description": "type of matching to use, options are \"exact\" or \"fuzzy\". The default is \"fuzzy\"."
                  },
                  "namesOrIds": {
                    "type": "string",
                    "enum": ["names", "ids"],
                    "required": false,
                    "label": "Names or IDs",
                    "description": "are the input pathways input as pathway names or as pathway ids of genes and metabolites"
                  },
                  "maxPathwaySize": {
                    "type": "number",
                    "required": false,
                    "label": "Max Pathway Size",
                    "description": "(default Inf), trims returned results to pathways that have fewer than this number"
                  }
                },
                "example": {
                  "pathway": [
                    "De Novo Triacylglycerol Biosynthesis",
                    "sphingolipid metabolism"
                  ],
                  "analyteType": "both",
                  "match": "exact",
                  "namesOrIds": "names"
                }
              }
            }
          }
        }
      }
    },
    "/api/ontologies-from-metabolites": {
      "post": {
        "tags": ["ontologies"],
        "summary": "Return ontology mappings from list of metabolites",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "description": "Enter a list of metabolites. IDs should be prepended by ID source (e.g. **kegg**:C00412).",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metabolite": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "a vector of analytes or a analytes delimited by new line character"
                  }
                },
                "example": {
                  "metabolite": [
                    "ensembl:ENSG00000135679",
                    "hmdb:HMDB0000064",
                    "hmdb:HMDB0000148",
                    "ensembl:ENSG00000141510"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/metabolites-from-ontologies": {
      "post": {
        "tags": ["ontologies"],
        "summary": "Return metabolites associated with input ontology",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "description": "Enter ontology(ies) and retrieve corresponding analytes (metabolites).",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "ontology": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "a vector of ontology or ontologies delimited by new line character"
                  },
                  "format": {
                    "type": "string",
                    "enum": ["json", "tsv"],
                    "required": false
                  }
                },
                "example": {
                  "ontology": ["Colon", "Liver", "Lung"],
                  "format": "json"
                }
              }
            }
          }
        }
      }
    },
    "/api/chemical-classes": {
      "post": {
        "tags": ["chemical-properties"],
        "summary": "Return available chemical classes of given metabolites in RaMP-DB",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "description": "Retrieve chemical class information (from ClassyFire and LIPID MAPS) for input metabolite IDs. IDs should be prepended by ID source (e.g. **hmdb**:C00412).",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "metabolites": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "a list object of source prepended metaboite ids, representing a metabolite set of interest"
                  },
                  "background": {
                    "type": "string",
                    "enum": [
                      "Blood",
                      "Adipose",
                      "Heart",
                      "Urine",
                      "Brain",
                      "Liver",
                      "Kidney",
                      "Saliva",
                      "Feces"
                    ],
                    "label": "Background Biospecimen",
                    "required": false
                  },
                  "backgroundFile": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "example": {
                  "metabolites": [
                    "hmdb:HMDB0000056",
                    "hmdb:HMDB0000439",
                    "hmdb:HMDB0000479",
                    "hmdb:HMDB0000532",
                    "hmdb:HMDB0001015",
                    "hmdb:HMDB0001138",
                    "hmdb:HMDB0029159",
                    "hmdb:HMDB0029412",
                    "hmdb:HMDB0034365",
                    "hmdb:HMDB0035227",
                    "hmdb:HMDB0007973",
                    "hmdb:HMDB0008057",
                    "hmdb:HMDB0011211"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/chemical-properties": {
      "post": {
        "tags": ["chemical-properties"],
        "summary": "Return chemical properties of given metabolites regarding structure",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "description": "Retrieve chemical properties (smiles, inchi_key, inchi_key_prefix, inchi, mw, monoisotop_mass, formula, common_name) from input metabolites. IDs should be prepended by ID source (e.g. **hmdb**:C00412).",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metabolites": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "a list object of source prepended metaboite ids, representing a metabolite set of interest"
                  },
                  "propertyList": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "enum": [
                      "all",
                      "smiles",
                      "inchi_key",
                      "inchi_key_prefix",
                      "inchi",
                      "mw",
                      "monoisotop_mass",
                      "formula",
                      "common_name"
                    ],
                    "label": "Property List",
                    "description": "an optional list of specific properties to extract. Options include 'all' (default), 'smiles', 'inchi_key', 'inchi_key_prefix', 'inchi', 'mw', 'monoisotop_mass', 'formula', 'common_name'. If a props list is not supplied, all property fields will be returned."
                  }
                },
                "example": {
                  "metabolites": [
                    "hmdb:HMDB0000056",
                    "hmdb:HMDB0000439",
                    "hmdb:HMDB0000479",
                    "hmdb:HMDB0000532",
                    "hmdb:HMDB0001015",
                    "hmdb:HMDB0001138",
                    "hmdb:HMDB0029159",
                    "hmdb:HMDB0029412",
                    "hmdb:HMDB0034365",
                    "hmdb:HMDB0035227",
                    "hmdb:HMDB0007973",
                    "hmdb:HMDB0008057",
                    "hmdb:HMDB0011211"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/common-reaction-analytes": {
      "post": {
        "tags": ["reactions"],
        "summary": "Return analytes involved in same reaction as given list of analytes",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "description": "Retrieve Analytes Involved in the Same Reaction. IDs should be prepended by ID source (e.g. **hmdb**:C00412).",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "analytes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "a vector of analytes that need to be searched"
                  },
                  "nameOrIds": {
                    "type": "string",
                    "enum": ["names", "ids"],
                    "required": false,
                    "description": "whether input is \"names\" or \"ids\" (default is \"ids\")",
                    "label": "Names or IDs",
                    "hidden": true
                  }
                },
                "example": {
                  "analytes": [
                    "ensembl:ENSG00000135679",
                    "hmdb:HMDB0000064",
                    "hmdb:HMDB0000148",
                    "ensembl:ENSG00000141510",
                    "chebi:58115",
                    "chebi:456215",
                    "chebi:58245",
                    "chebi:58450",
                    "chebi:17596",
                    "chebi:16335",
                    "chebi:16750",
                    "chebi:172878",
                    "chebi:62286",
                    "chebi:77897",
                    "uniprot:P30566",
                    "uniprot:P30520",
                    "uniprot:P00568",
                    "uniprot:P23109",
                    "uniprot:P22102",
                    "uniprot:P15531"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/reactions-from-analytes": {
      "post": {
        "tags": ["reactions"],
        "summary": "Return reactions from a given list of analytes",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "description": "Retrieve reactions from a list of analytes. IDs should be prepended by ID source (e.g. **hmdb**:C00412).",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "analytes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "list of analytes. Only CHEBI and Uniprot IDs are supported"
                  },
                  "onlyHumanMets": {
                    "type": "boolean",
                    "required": false,
                    "description": "boolean to only return pathways containing only human metabolites (ChEBI ontology)",
                    "label": "Human Metabolites Only"
                  },
                  "humanProtein": {
                    "type": "boolean",
                    "required": false,
                    "description": "boolean to only control pathways catalyzed by a human proteins (having human Uniprot)",
                    "label": " Human Protein Pathways Only"
                  },
                  "includeTransportRxns": {
                    "type": "number",
                    "required": false,
                    "description": "if TRUE, returns metabolic and transport reactions",
                    "label": "Include Transport Reactions"
                  },
                  "rxnDirs": {
                    "type": "string",
                    "enum": ["UN", "LR", "RL", "BD", "ALL"],
                    "required": false,
                    "description": "character vector of length > 1, specifying reaction directions to return.",
                    "label": "Reaction Directions"
                  },
                  "includeRxnURLs": {
                    "type": "number",
                    "required": false,
                    "description": "if TRUE, urls to Rhea.org will be delivered in the result dataframe for each reaction",
                    "label": "Include Reaction URLs"
                  }
                },
                "example": {
                  "analytes": [
                    "chebi:58115",
                    "chebi:456215",
                    "chebi:58245",
                    "chebi:58450",
                    "chebi:17596",
                    "chebi:16335",
                    "chebi:16750",
                    "chebi:172878",
                    "chebi:62286",
                    "chebi:77897",
                    "uniprot:P30566",
                    "uniprot:P30520",
                    "uniprot:P00568",
                    "uniprot:P23109",
                    "uniprot:P22102",
                    "uniprot:P15531"
                  ],
                  "onlyHumanMets": false,
                  "humanProtein": true,
                  "includeTransportRxns": true,
                  "rxnDirs": "UN",
                  "includeRxnURLs": false
                }
              }
            }
          }
        }
      }
    },
    "/api/reaction-classes-from-analytes": {
      "post": {
        "tags": ["reactions"],
        "summary": "Return reaction classes from a given list of analytes",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "description": "Retrieve reaction classes from a list of analytes. IDs should be prepended by ID source (e.g. **hmdb**:C00412).",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "analytes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "list of analyte ids"
                  },
                  "multiRxnParticipantCount": {
                    "type": "number",
                    "required": false,
                    "description": "minimum number of analytes to report a reaction class, default = 1",
                    "label": "Reaction Analyte Counts"
                  },
                  "humanProtein": {
                    "type": "boolean",
                    "required": false,
                    "description": "require reactions to have a human protein (enzyme or transporter), default True",
                    "label": "Human Protein in Reaction"
                  },
                  "concatResults": {
                    "type": "boolean",
                    "required": false,
                    "description": "returns all reaction class levels in one dataframe rather than a list of 3 dataframes",
                    "label": "Concatenate Results"
                  },
                  "includeReactionIDs": {
                    "type": "boolean",
                    "required": false,
                    "description": "adds the list of reaction ids for each reaction class",
                    "label": "Include Reaction IDs"
                  },
                  "useIdMapping": {
                    "type": "boolean",
                    "required": false,
                    "description": "allows one to fuzzy match input ids to chebi and uniprot to support reaction queries.",
                    "hidden": true,
                    "label": "Use ID Mapping"
                  }
                },
                "example": {
                  "analytes": [
                    "hmdb:HMDB0000033",
                    "hmdb:HMDB0000052",
                    "hmdb:HMDB0000094",
                    "hmdb:HMDBP00789",
                    "hmdb:HMDBP00283",
                    "hmdb:HMDBP00284",
                    "chebi:58115",
                    "chebi:456215",
                    "chebi:58245",
                    "chebi:58450",
                    "chebi:17596",
                    "chebi:16335",
                    "chebi:16750",
                    "chebi:172878",
                    "chebi:62286",
                    "chebi:77897",
                    "uniprot:P30566",
                    "uniprot:P30520",
                    "uniprot:P00568",
                    "uniprot:P23109",
                    "uniprot:P22102",
                    "uniprot:P15531"
                  ],
                  "multiRxnParticipantCount": 1,
                  "humanProtein": true,
                  "concatResults": true,
                  "includeReactionIDs": false
                }
              }
            }
          }
        }
      }
    },
    "/api/combined-fisher-test": {
      "post": {
        "tags": ["biochemical-pathways"],
        "summary": "Return combined Fisher's test results from given list of analytes query results",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "description": "Perform Pathway Enrichment. IDs should be prepended by ID source (e.g. **hmdb**:C00412). Input analyte IDs can be a mix of genes/proteins or metabolites.",
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "analytes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "background": {
                    "type": "string",
                    "enum": [
                      "Blood",
                      "Adipose",
                      "Heart",
                      "Urine",
                      "Brain",
                      "Liver",
                      "Kidney",
                      "Saliva",
                      "Feces"
                    ],
                    "label": "Background Biospecimen",
                    "required": false,
                    "filter": true
                  },
                  "backgroundFile": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "example": {
                  "analytes": [
                    "hmdb:HMDB0000033",
                    "hmdb:HMDB0000052",
                    "hmdb:HMDB0000094",
                    "hmdb:HMDB0000161",
                    "hmdb:HMDB0000168",
                    "hmdb:HMDB0000191",
                    "hmdb:HMDB0000201",
                    "chemspider:10026",
                    "hmdb:HMDB0006059",
                    "Chemspider:6405",
                    "CAS:5657-19-2",
                    "hmdb:HMDB0002511",
                    "chemspider:20171375",
                    "CAS:133-32-4",
                    "CAS:5746-90-7",
                    "CAS:477251-67-5",
                    "hmdb:HMDB0000695",
                    "chebi:15934",
                    "CAS:838-07-3",
                    "hmdb:HMDBP00789",
                    "hmdb:HMDBP00283",
                    "hmdb:HMDBP00284",
                    "hmdb:HMDBP00850"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/filter-fisher-test-results": {
      "post": {
        "tags": ["biochemical-pathways"],
        "summary": "Return filtered Fisher's test results from given list of Fisher's test results",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "description": "Filter Pathway Enrichment. This is primarily used after running `combined-fisher-test` as the required input is the output from that call.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fishers_results": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "pval_type": {
                    "type": "string",
                    "enum": ["fdr", "holm", "pval"],
                    "required": false,
                    "label": "P-Value Type",
                    "description": "Specifies which p-value to use as the filter threshold. Permitted values are 'pval' and 'fdr' for chemical class and pathway enrichment. Pathway enrichment also includes an optional 'holm' value for holm p-value corrections. Default is 'fdr'.",
                    "filter": true
                  },
                  "pval_cutoff": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "required": false,
                    "label": "P-Value Cutoff",
                    "description": "return pathways where pval_type p-values are < pval_cutoff",
                    "filter": true
                  }
                },
                "example": {
                  "fishers_results": {
                    "pval_cutoff": 0.02,
                    "pval_type": "fdr",
                    "analyte_type": ["both"],
                    "result_type": ["pathway_enrichment"],
                    "fishresults": [
                      {
                        "pathwayName": "beta-Alanine metabolism",
                        "pathwayId": "map00410",
                        "pathwaySource": "kegg",
                        "Pval_Metab": 0.032104,
                        "Num_In_Path_Metab": 2,
                        "Total_In_Path_Metab": 29,
                        "Pval_combined": 0.032104,
                        "Pval_combined_FDR": 0.059322,
                        "Pval_combined_Holm": 1,
                        "analytes": "CARN; Carnosine;L-Aspartic acid"
                      },
                      {
                        "pathwayName": "Methionine Metabolism",
                        "pathwayId": "map00270",
                        "pathwaySource": "kegg",
                        "Pval_Gene": 0.000044,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 55,
                        "Pval_combined": 0.000044,
                        "Pval_combined_FDR": 0.000164,
                        "Pval_combined_Holm": 0.002797,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Tyrosine metabolism",
                        "pathwayId": "map00350",
                        "pathwaySource": "kegg",
                        "Pval_Metab": 0.518364,
                        "Num_In_Path_Metab": 1,
                        "Total_In_Path_Metab": 69,
                        "Pval_Gene": 0.00003,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 45,
                        "Pval_combined": 0.000015,
                        "Pval_combined_FDR": 0.000065,
                        "Pval_combined_Holm": 0.001013,
                        "analytes": "L-Aspartic acid;GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Arginine and proline metabolism",
                        "pathwayId": "map00330",
                        "pathwaySource": "kegg",
                        "Pval_Metab": 0.011701,
                        "Num_In_Path_Metab": 3,
                        "Total_In_Path_Metab": 51,
                        "Pval_Gene": 1.132259e-7,
                        "Num_In_Path_Gene": 3,
                        "Total_In_Path_Gene": 62,
                        "Pval_combined": 1.324894e-9,
                        "Pval_combined_FDR": 2.8154e-8,
                        "Pval_combined_Holm": 1.086413e-7,
                        "analytes": "Argininosuccinic acid;L-Alanine;L-Aspartic acid;GOT1;GOT2;GPT"
                      },
                      {
                        "pathwayName": "Phenylalanine and Tyrosine Metabolism",
                        "pathwayId": "map00360",
                        "pathwaySource": "kegg",
                        "Pval_Gene": 0.000011,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 27,
                        "Pval_combined": 0.000011,
                        "Pval_combined_FDR": 0.000056,
                        "Pval_combined_Holm": 0.000757,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Alanine, aspartate and glutamate metabolism",
                        "pathwayId": "map00250",
                        "pathwaySource": "kegg",
                        "Pval_Metab": 0.001954,
                        "Num_In_Path_Metab": 4,
                        "Total_In_Path_Metab": 61,
                        "Pval_Gene": 5.11736e-11,
                        "Num_In_Path_Gene": 4,
                        "Total_In_Path_Gene": 55,
                        "Pval_combined": 9.99901e-14,
                        "Pval_combined_FDR": 4.249579e-12,
                        "Pval_combined_Holm": 8.399168e-12,
                        "analytes": "Argininosuccinic acid;L-Alanine;L-Asparagine;L-Aspartic acid;GOT1;GOT2;AGXT;GPT"
                      },
                      {
                        "pathwayName": "Nitrogen metabolism",
                        "pathwayId": "map00910",
                        "pathwaySource": "kegg",
                        "Pval_Metab": 0.02611,
                        "Num_In_Path_Metab": 2,
                        "Total_In_Path_Metab": 26,
                        "Pval_combined": 0.02611,
                        "Pval_combined_FDR": 0.05044,
                        "Pval_combined_Holm": 1,
                        "analytes": "L-Asparagine;L-Aspartic acid"
                      },
                      {
                        "pathwayName": "2-Oxocarboxylic acid metabolism",
                        "pathwayId": "map01210",
                        "pathwaySource": "kegg",
                        "Pval_Gene": 0.000003147428,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 15,
                        "Pval_combined": 0.000003147428,
                        "Pval_combined_FDR": 0.000024,
                        "Pval_combined_Holm": 0.000236,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Phenylalanine, tyrosine and tryptophan biosynthesis",
                        "pathwayId": "map00400",
                        "pathwaySource": "kegg",
                        "Pval_Gene": 0.000005693446,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 20,
                        "Pval_combined": 0.000005693446,
                        "Pval_combined_FDR": 0.00004,
                        "Pval_combined_Holm": 0.000421,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Glyoxylate metabolism and glycine degradation",
                        "pathwayId": "R-HSA-389661",
                        "pathwaySource": "reactome",
                        "Pval_Gene": 0.000014,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 31,
                        "Pval_combined": 0.000014,
                        "Pval_combined_FDR": 0.000062,
                        "Pval_combined_Holm": 0.000947,
                        "analytes": "GOT2;AGXT"
                      },
                      {
                        "pathwayName": "Sulfur amino acid metabolism",
                        "pathwayId": "R-HSA-1614635",
                        "pathwaySource": "reactome",
                        "Pval_Gene": 0.000011,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 27,
                        "Pval_combined": 0.000011,
                        "Pval_combined_FDR": 0.000056,
                        "Pval_combined_Holm": 0.000757,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Gluconeogenesis",
                        "pathwayId": "R-HSA-70263",
                        "pathwaySource": "reactome",
                        "Pval_Metab": 0.122185,
                        "Num_In_Path_Metab": 1,
                        "Total_In_Path_Metab": 32,
                        "Pval_Gene": 0.000017,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 34,
                        "Pval_combined": 0.000002052088,
                        "Pval_combined_FDR": 0.000017,
                        "Pval_combined_Holm": 0.000156,
                        "analytes": "Citric acid;GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Glucose metabolism",
                        "pathwayId": "R-HSA-70326",
                        "pathwaySource": "reactome",
                        "Pval_Metab": 0.157544,
                        "Num_In_Path_Metab": 1,
                        "Total_In_Path_Metab": 42,
                        "Pval_Gene": 0.000125,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 92,
                        "Pval_combined": 0.00002,
                        "Pval_combined_FDR": 0.00008,
                        "Pval_combined_Holm": 0.001278,
                        "analytes": "Citric acid;GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Aspartate and asparagine metabolism",
                        "pathwayId": "R-HSA-8963693",
                        "pathwaySource": "reactome",
                        "Pval_Gene": 0.000001649093,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 11,
                        "Pval_combined": 0.000001649093,
                        "Pval_combined_FDR": 0.000017,
                        "Pval_combined_Holm": 0.00013,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Amino acid metabolism pathway excerpt: histidine catabolism extension",
                        "pathwayId": "WP4661",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 0.00079,
                        "Num_In_Path_Metab": 2,
                        "Total_In_Path_Metab": 17,
                        "Pval_combined": 0.00079,
                        "Pval_combined_FDR": 0.002684,
                        "Pval_combined_Holm": 0.04816,
                        "analytes": "Citric acid;L-Alanine"
                      },
                      {
                        "pathwayName": "Sulfur amino acid metabolism",
                        "pathwayId": "WP3574",
                        "pathwaySource": "wiki",
                        "Pval_Gene": 0.000011,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 27,
                        "Pval_combined": 0.000011,
                        "Pval_combined_FDR": 0.000056,
                        "Pval_combined_Holm": 0.000757,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Glycolysis and gluconeogenesis",
                        "pathwayId": "WP534",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 0.045562,
                        "Num_In_Path_Metab": 1,
                        "Total_In_Path_Metab": 18,
                        "Pval_Gene": 0.000031,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 46,
                        "Pval_combined": 0.000001410614,
                        "Pval_combined_FDR": 0.000017,
                        "Pval_combined_Holm": 0.000113,
                        "analytes": "L-Aspartic acid;GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Amino acid metabolism",
                        "pathwayId": "WP3925",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 0.000003106941,
                        "Num_In_Path_Metab": 5,
                        "Total_In_Path_Metab": 109,
                        "Pval_Gene": 0.00013,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 94,
                        "Pval_combined": 4.049386e-10,
                        "Pval_combined_FDR": 1.147326e-8,
                        "Pval_combined_Holm": 3.360991e-8,
                        "analytes": "Argininosuccinic acid;Citric acid;L-Alanine;L-Asparagine;L-Aspartic acid;GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Biomarkers for urea cycle disorders",
                        "pathwayId": "WP4583",
                        "pathwaySource": "wiki",
                        "Pval_Gene": 0.000001978779,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 12,
                        "Pval_combined": 0.000001978779,
                        "Pval_combined_FDR": 0.000017,
                        "Pval_combined_Holm": 0.000152,
                        "analytes": "GOT1;GPT"
                      },
                      {
                        "pathwayName": "Urea cycle and metabolism of amino groups",
                        "pathwayId": "WP497",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 0.002822,
                        "Num_In_Path_Metab": 2,
                        "Total_In_Path_Metab": 32,
                        "Pval_combined": 0.002822,
                        "Pval_combined_FDR": 0.007055,
                        "Pval_combined_Holm": 0.15385,
                        "analytes": "Argininosuccinic acid;L-Aspartic acid"
                      },
                      {
                        "pathwayName": "Glucose metabolism",
                        "pathwayId": "WP4093",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 0.103437,
                        "Num_In_Path_Metab": 1,
                        "Total_In_Path_Metab": 42,
                        "Pval_Gene": 0.000125,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 92,
                        "Pval_combined": 0.000013,
                        "Pval_combined_FDR": 0.000062,
                        "Pval_combined_Holm": 0.000891,
                        "analytes": "Citric acid;GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Metabolic reprogramming in colon cancer",
                        "pathwayId": "WP4290",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 0.004177,
                        "Num_In_Path_Metab": 2,
                        "Total_In_Path_Metab": 39,
                        "Pval_Gene": 0.008374,
                        "Num_In_Path_Gene": 1,
                        "Total_In_Path_Gene": 42,
                        "Pval_combined": 0.000035,
                        "Pval_combined_FDR": 0.000135,
                        "Pval_combined_Holm": 0.002238,
                        "analytes": "Citric acid;L-Asparagine;GOT2"
                      },
                      {
                        "pathwayName": "Aspartate and asparagine metabolism",
                        "pathwayId": "WP4979",
                        "pathwaySource": "wiki",
                        "Pval_Gene": 0.000001649093,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 11,
                        "Pval_combined": 0.000001649093,
                        "Pval_combined_FDR": 0.000017,
                        "Pval_combined_Holm": 0.00013,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Urea cycle and associated pathways",
                        "pathwayId": "WP4595",
                        "pathwaySource": "wiki",
                        "Pval_Gene": 6.068128e-9,
                        "Num_In_Path_Gene": 3,
                        "Total_In_Path_Gene": 24,
                        "Pval_combined": 6.068128e-9,
                        "Pval_combined_FDR": 1.031582e-7,
                        "Pval_combined_Holm": 4.915183e-7,
                        "analytes": "GOT1;GOT2;GPT"
                      },
                      {
                        "pathwayName": "NAD metabolism in oncogene-induced senescence and mitochondrial dysfunction-associated senescence",
                        "pathwayId": "WP5046",
                        "pathwaySource": "wiki",
                        "Pval_Gene": 0.000009734892,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 26,
                        "Pval_combined": 0.000009734892,
                        "Pval_combined_FDR": 0.000056,
                        "Pval_combined_Holm": 0.000711,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Metabolism overview",
                        "pathwayId": "WP3602",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 0.002603,
                        "Num_In_Path_Metab": 3,
                        "Total_In_Path_Metab": 116,
                        "Pval_combined": 0.002603,
                        "Pval_combined_FDR": 0.007055,
                        "Pval_combined_Holm": 0.145751,
                        "analytes": "Argininosuccinic acid;Citric acid;L-Aspartic acid"
                      },
                      {
                        "pathwayName": "Glyoxylate metabolism and glycine degradation",
                        "pathwayId": "WP3562",
                        "pathwaySource": "wiki",
                        "Pval_Gene": 0.000014,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 31,
                        "Pval_combined": 0.000014,
                        "Pval_combined_FDR": 0.000062,
                        "Pval_combined_Holm": 0.000947,
                        "analytes": "GOT2;AGXT"
                      },
                      {
                        "pathwayName": "Alanine and aspartate metabolism",
                        "pathwayId": "WP106",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 7.081563e-15,
                        "Num_In_Path_Metab": 7,
                        "Total_In_Path_Metab": 23,
                        "Pval_Gene": 1.371261e-11,
                        "Num_In_Path_Gene": 4,
                        "Total_In_Path_Gene": 40,
                        "Pval_combined": 9.710673e-26,
                        "Pval_combined_FDR": 8.254072e-24,
                        "Pval_combined_Holm": 8.254072e-24,
                        "analytes": "CARN; Carnosine;Argininosuccinic acid;Citric acid;L-Alanine;L-Asparagine;L-Aspartic acid;(3R)-3-acetyloxy-4-(trimethylazaniumyl)butanoate; L-Acetylcarnitine; O-Acetylcarnitine;GOT1;GOT2;AGXT;GPT"
                      },
                      {
                        "pathwayName": "mRNA, protein, and metabolite inducation pathway by cyclosporin A",
                        "pathwayId": "WP3953",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 0.00053,
                        "Num_In_Path_Metab": 2,
                        "Total_In_Path_Metab": 14,
                        "Pval_combined": 0.00053,
                        "Pval_combined_FDR": 0.001879,
                        "Pval_combined_Holm": 0.032885,
                        "analytes": "L-Alanine;L-Asparagine"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/cluster-fisher-test-results": {
      "post": {
        "tags": ["biochemical-pathways"],
        "summary": "Return clustered Fisher's test results from given list of Fisher's test results",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "description": "Cluster Pathway Enrichment. This is primarily used after running `combined-fisher-test` or `filter-fisher-test` as the required input is the output from that call. Uses the findCluster agglomerative clustering method from the R package (see documentation for more details).",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "min_pathway_tocluster": {
                    "type": "number",
                    "required": false,
                    "label": "Minimum Pathways in Cluster",
                    "description": "Minimum number of 'similar' pathways required to start a cluster (medoid) (Default = 2)",
                    "filter": true
                  },
                  "perc_analyte_overlap": {
                    "type": "number",
                    "required": false,
                    "label": "Analyte Overlap Percentage",
                    "description": "Minimum overlap for pathways to be considered similar (Default = 0.5)",
                    "filter": true
                  },
                  "perc_pathway_overlap": {
                    "type": "number",
                    "required": false,
                    "label": "Pathway Overlap Percentage",
                    "description": "Minimum overlap for clusters to merge (Default = 0.5)",
                    "filter": true
                  },
                  "fishers_results": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    },
                    "label": "The full result object generated by runCombinedFisherTest"
                  }
                },
                "example": {
                  "min_pathway_tocluster": 2.0,
                  "perc_analyte_overlap": 0.5,
                  "perc_pathway_overlap": 0.5,
                  "fishers_results": {
                    "analyte_type": ["both"],
                    "result_type": ["pathway_enrichment"],
                    "fishresults": [
                      {
                        "pathwayName": "beta-Alanine metabolism",
                        "pathwayId": "map00410",
                        "pathwaySource": "kegg",
                        "Pval_Metab": 0.032104,
                        "Num_In_Path_Metab": 2,
                        "Total_In_Path_Metab": 29,
                        "Pval_combined": 0.032104,
                        "Pval_combined_FDR": 0.059322,
                        "Pval_combined_Holm": 1,
                        "analytes": "CARN; Carnosine;L-Aspartic acid"
                      },
                      {
                        "pathwayName": "Methionine Metabolism",
                        "pathwayId": "map00270",
                        "pathwaySource": "kegg",
                        "Pval_Gene": 0.000044,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 55,
                        "Pval_combined": 0.000044,
                        "Pval_combined_FDR": 0.000164,
                        "Pval_combined_Holm": 0.002797,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Tyrosine metabolism",
                        "pathwayId": "map00350",
                        "pathwaySource": "kegg",
                        "Pval_Metab": 0.518364,
                        "Num_In_Path_Metab": 1,
                        "Total_In_Path_Metab": 69,
                        "Pval_Gene": 0.00003,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 45,
                        "Pval_combined": 0.000015,
                        "Pval_combined_FDR": 0.000065,
                        "Pval_combined_Holm": 0.001013,
                        "analytes": "L-Aspartic acid;GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Arginine and proline metabolism",
                        "pathwayId": "map00330",
                        "pathwaySource": "kegg",
                        "Pval_Metab": 0.011701,
                        "Num_In_Path_Metab": 3,
                        "Total_In_Path_Metab": 51,
                        "Pval_Gene": 1.132259e-7,
                        "Num_In_Path_Gene": 3,
                        "Total_In_Path_Gene": 62,
                        "Pval_combined": 1.324894e-9,
                        "Pval_combined_FDR": 2.8154e-8,
                        "Pval_combined_Holm": 1.086413e-7,
                        "analytes": "Argininosuccinic acid;L-Alanine;L-Aspartic acid;GOT1;GOT2;GPT"
                      },
                      {
                        "pathwayName": "Phenylalanine and Tyrosine Metabolism",
                        "pathwayId": "map00360",
                        "pathwaySource": "kegg",
                        "Pval_Gene": 0.000011,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 27,
                        "Pval_combined": 0.000011,
                        "Pval_combined_FDR": 0.000056,
                        "Pval_combined_Holm": 0.000757,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Alanine, aspartate and glutamate metabolism",
                        "pathwayId": "map00250",
                        "pathwaySource": "kegg",
                        "Pval_Metab": 0.001954,
                        "Num_In_Path_Metab": 4,
                        "Total_In_Path_Metab": 61,
                        "Pval_Gene": 5.11736e-11,
                        "Num_In_Path_Gene": 4,
                        "Total_In_Path_Gene": 55,
                        "Pval_combined": 9.99901e-14,
                        "Pval_combined_FDR": 4.249579e-12,
                        "Pval_combined_Holm": 8.399168e-12,
                        "analytes": "Argininosuccinic acid;L-Alanine;L-Asparagine;L-Aspartic acid;GOT1;GOT2;AGXT;GPT"
                      },
                      {
                        "pathwayName": "Nitrogen metabolism",
                        "pathwayId": "map00910",
                        "pathwaySource": "kegg",
                        "Pval_Metab": 0.02611,
                        "Num_In_Path_Metab": 2,
                        "Total_In_Path_Metab": 26,
                        "Pval_combined": 0.02611,
                        "Pval_combined_FDR": 0.05044,
                        "Pval_combined_Holm": 1,
                        "analytes": "L-Asparagine;L-Aspartic acid"
                      },
                      {
                        "pathwayName": "2-Oxocarboxylic acid metabolism",
                        "pathwayId": "map01210",
                        "pathwaySource": "kegg",
                        "Pval_Gene": 0.000003147428,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 15,
                        "Pval_combined": 0.000003147428,
                        "Pval_combined_FDR": 0.000024,
                        "Pval_combined_Holm": 0.000236,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Phenylalanine, tyrosine and tryptophan biosynthesis",
                        "pathwayId": "map00400",
                        "pathwaySource": "kegg",
                        "Pval_Gene": 0.000005693446,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 20,
                        "Pval_combined": 0.000005693446,
                        "Pval_combined_FDR": 0.00004,
                        "Pval_combined_Holm": 0.000421,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Glyoxylate metabolism and glycine degradation",
                        "pathwayId": "R-HSA-389661",
                        "pathwaySource": "reactome",
                        "Pval_Gene": 0.000014,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 31,
                        "Pval_combined": 0.000014,
                        "Pval_combined_FDR": 0.000062,
                        "Pval_combined_Holm": 0.000947,
                        "analytes": "GOT2;AGXT"
                      },
                      {
                        "pathwayName": "Sulfur amino acid metabolism",
                        "pathwayId": "R-HSA-1614635",
                        "pathwaySource": "reactome",
                        "Pval_Gene": 0.000011,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 27,
                        "Pval_combined": 0.000011,
                        "Pval_combined_FDR": 0.000056,
                        "Pval_combined_Holm": 0.000757,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Gluconeogenesis",
                        "pathwayId": "R-HSA-70263",
                        "pathwaySource": "reactome",
                        "Pval_Metab": 0.122185,
                        "Num_In_Path_Metab": 1,
                        "Total_In_Path_Metab": 32,
                        "Pval_Gene": 0.000017,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 34,
                        "Pval_combined": 0.000002052088,
                        "Pval_combined_FDR": 0.000017,
                        "Pval_combined_Holm": 0.000156,
                        "analytes": "Citric acid;GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Glucose metabolism",
                        "pathwayId": "R-HSA-70326",
                        "pathwaySource": "reactome",
                        "Pval_Metab": 0.157544,
                        "Num_In_Path_Metab": 1,
                        "Total_In_Path_Metab": 42,
                        "Pval_Gene": 0.000125,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 92,
                        "Pval_combined": 0.00002,
                        "Pval_combined_FDR": 0.00008,
                        "Pval_combined_Holm": 0.001278,
                        "analytes": "Citric acid;GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Aspartate and asparagine metabolism",
                        "pathwayId": "R-HSA-8963693",
                        "pathwaySource": "reactome",
                        "Pval_Gene": 0.000001649093,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 11,
                        "Pval_combined": 0.000001649093,
                        "Pval_combined_FDR": 0.000017,
                        "Pval_combined_Holm": 0.00013,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Amino acid metabolism pathway excerpt: histidine catabolism extension",
                        "pathwayId": "WP4661",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 0.00079,
                        "Num_In_Path_Metab": 2,
                        "Total_In_Path_Metab": 17,
                        "Pval_combined": 0.00079,
                        "Pval_combined_FDR": 0.002684,
                        "Pval_combined_Holm": 0.04816,
                        "analytes": "Citric acid;L-Alanine"
                      },
                      {
                        "pathwayName": "Sulfur amino acid metabolism",
                        "pathwayId": "WP3574",
                        "pathwaySource": "wiki",
                        "Pval_Gene": 0.000011,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 27,
                        "Pval_combined": 0.000011,
                        "Pval_combined_FDR": 0.000056,
                        "Pval_combined_Holm": 0.000757,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Glycolysis and gluconeogenesis",
                        "pathwayId": "WP534",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 0.045562,
                        "Num_In_Path_Metab": 1,
                        "Total_In_Path_Metab": 18,
                        "Pval_Gene": 0.000031,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 46,
                        "Pval_combined": 0.000001410614,
                        "Pval_combined_FDR": 0.000017,
                        "Pval_combined_Holm": 0.000113,
                        "analytes": "L-Aspartic acid;GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Amino acid metabolism",
                        "pathwayId": "WP3925",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 0.000003106941,
                        "Num_In_Path_Metab": 5,
                        "Total_In_Path_Metab": 109,
                        "Pval_Gene": 0.00013,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 94,
                        "Pval_combined": 4.049386e-10,
                        "Pval_combined_FDR": 1.147326e-8,
                        "Pval_combined_Holm": 3.360991e-8,
                        "analytes": "Argininosuccinic acid;Citric acid;L-Alanine;L-Asparagine;L-Aspartic acid;GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Biomarkers for urea cycle disorders",
                        "pathwayId": "WP4583",
                        "pathwaySource": "wiki",
                        "Pval_Gene": 0.000001978779,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 12,
                        "Pval_combined": 0.000001978779,
                        "Pval_combined_FDR": 0.000017,
                        "Pval_combined_Holm": 0.000152,
                        "analytes": "GOT1;GPT"
                      },
                      {
                        "pathwayName": "Urea cycle and metabolism of amino groups",
                        "pathwayId": "WP497",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 0.002822,
                        "Num_In_Path_Metab": 2,
                        "Total_In_Path_Metab": 32,
                        "Pval_combined": 0.002822,
                        "Pval_combined_FDR": 0.007055,
                        "Pval_combined_Holm": 0.15385,
                        "analytes": "Argininosuccinic acid;L-Aspartic acid"
                      },
                      {
                        "pathwayName": "Glucose metabolism",
                        "pathwayId": "WP4093",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 0.103437,
                        "Num_In_Path_Metab": 1,
                        "Total_In_Path_Metab": 42,
                        "Pval_Gene": 0.000125,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 92,
                        "Pval_combined": 0.000013,
                        "Pval_combined_FDR": 0.000062,
                        "Pval_combined_Holm": 0.000891,
                        "analytes": "Citric acid;GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Metabolic reprogramming in colon cancer",
                        "pathwayId": "WP4290",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 0.004177,
                        "Num_In_Path_Metab": 2,
                        "Total_In_Path_Metab": 39,
                        "Pval_Gene": 0.008374,
                        "Num_In_Path_Gene": 1,
                        "Total_In_Path_Gene": 42,
                        "Pval_combined": 0.000035,
                        "Pval_combined_FDR": 0.000135,
                        "Pval_combined_Holm": 0.002238,
                        "analytes": "Citric acid;L-Asparagine;GOT2"
                      },
                      {
                        "pathwayName": "Aspartate and asparagine metabolism",
                        "pathwayId": "WP4979",
                        "pathwaySource": "wiki",
                        "Pval_Gene": 0.000001649093,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 11,
                        "Pval_combined": 0.000001649093,
                        "Pval_combined_FDR": 0.000017,
                        "Pval_combined_Holm": 0.00013,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Urea cycle and associated pathways",
                        "pathwayId": "WP4595",
                        "pathwaySource": "wiki",
                        "Pval_Gene": 6.068128e-9,
                        "Num_In_Path_Gene": 3,
                        "Total_In_Path_Gene": 24,
                        "Pval_combined": 6.068128e-9,
                        "Pval_combined_FDR": 1.031582e-7,
                        "Pval_combined_Holm": 4.915183e-7,
                        "analytes": "GOT1;GOT2;GPT"
                      },
                      {
                        "pathwayName": "NAD metabolism in oncogene-induced senescence and mitochondrial dysfunction-associated senescence",
                        "pathwayId": "WP5046",
                        "pathwaySource": "wiki",
                        "Pval_Gene": 0.000009734892,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 26,
                        "Pval_combined": 0.000009734892,
                        "Pval_combined_FDR": 0.000056,
                        "Pval_combined_Holm": 0.000711,
                        "analytes": "GOT1;GOT2"
                      },
                      {
                        "pathwayName": "Metabolism overview",
                        "pathwayId": "WP3602",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 0.002603,
                        "Num_In_Path_Metab": 3,
                        "Total_In_Path_Metab": 116,
                        "Pval_combined": 0.002603,
                        "Pval_combined_FDR": 0.007055,
                        "Pval_combined_Holm": 0.145751,
                        "analytes": "Argininosuccinic acid;Citric acid;L-Aspartic acid"
                      },
                      {
                        "pathwayName": "Glyoxylate metabolism and glycine degradation",
                        "pathwayId": "WP3562",
                        "pathwaySource": "wiki",
                        "Pval_Gene": 0.000014,
                        "Num_In_Path_Gene": 2,
                        "Total_In_Path_Gene": 31,
                        "Pval_combined": 0.000014,
                        "Pval_combined_FDR": 0.000062,
                        "Pval_combined_Holm": 0.000947,
                        "analytes": "GOT2;AGXT"
                      },
                      {
                        "pathwayName": "Alanine and aspartate metabolism",
                        "pathwayId": "WP106",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 7.081563e-15,
                        "Num_In_Path_Metab": 7,
                        "Total_In_Path_Metab": 23,
                        "Pval_Gene": 1.371261e-11,
                        "Num_In_Path_Gene": 4,
                        "Total_In_Path_Gene": 40,
                        "Pval_combined": 9.710673e-26,
                        "Pval_combined_FDR": 8.254072e-24,
                        "Pval_combined_Holm": 8.254072e-24,
                        "analytes": "CARN; Carnosine;Argininosuccinic acid;Citric acid;L-Alanine;L-Asparagine;L-Aspartic acid;(3R)-3-acetyloxy-4-(trimethylazaniumyl)butanoate; L-Acetylcarnitine; O-Acetylcarnitine;GOT1;GOT2;AGXT;GPT"
                      },
                      {
                        "pathwayName": "mRNA, protein, and metabolite inducation pathway by cyclosporin A",
                        "pathwayId": "WP3953",
                        "pathwaySource": "wiki",
                        "Pval_Metab": 0.00053,
                        "Num_In_Path_Metab": 2,
                        "Total_In_Path_Metab": 14,
                        "Pval_combined": 0.00053,
                        "Pval_combined_FDR": 0.001879,
                        "Pval_combined_Holm": 0.032885,
                        "analytes": "L-Alanine;L-Asparagine"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/chemical-enrichment": {
      "post": {
        "tags": ["chemical-properties"],
        "summary": "Perform chemical class enrichment on given metabolites",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {
          "description": "Perform chemical class enrichment on ClassyFire and LIPIDMAPS classes. IDs should be prepended by ID source (e.g. **hmdb**:C00412).",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metabolites": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "a vector of source prepended metabolite ids"
                  },
                  "background": {
                    "type": "string",
                    "enum": [
                      "Blood",
                      "Adipose",
                      "Heart",
                      "Urine",
                      "Brain",
                      "Liver",
                      "Kidney",
                      "Saliva",
                      "Feces"
                    ],
                    "label": "Background Biospecimen",
                    "required": false
                  },
                  "backgroundFile": {
                    "type": "string",
                    "format": "binary"
                  }
                },
                "example": {
                  "metabolites": [
                    "hmdb:HMDB0000056",
                    "hmdb:HMDB0000439",
                    "hmdb:HMDB0000479",
                    "hmdb:HMDB0000532",
                    "hmdb:HMDB0001015",
                    "hmdb:HMDB0001138",
                    "hmdb:HMDB0029159",
                    "hmdb:HMDB0029412",
                    "hmdb:HMDB0034365",
                    "hmdb:HMDB0035227",
                    "hmdb:HMDB0007973",
                    "hmdb:HMDB0008057",
                    "hmdb:HMDB0011211"
                  ]
                }
              }
            }
          }
        }
      }
    }
  }
}
