@use 'libs/styles/src/styles/ncats-theme.scss' as theme;
@use '@angular/material' as mat;
@use '_utils' as utils;
@include mat.elevation-classes();
@include mat.app-background();

html {
  // Emit styles for MatButton based on `$my-theme`. Because the configuration
  // passed to `define-theme` omits typography, `button-theme` will not
  // emit any typography styles.
  @include mat.system-level-colors(theme.$light-theme);
  @include mat.all-component-themes(theme.$light-theme);
}

html,
body {
  height: 100%;
  margin: 0 !important;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
}

a {
  color: mat.get-theme-color(theme.$light-theme, secondary);
  text-decoration: none;
}

a:visited {
  color: mat.get-theme-color(theme.$light-theme, secondary, 60);
}

#ncats-banner {
  background-color: mat.get-theme-color(theme.$light-theme, primary);
}

.remove-button {
  @include mat.button-color(theme.$light-theme, $color-variant: error);
}

header {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mat-drawer-content {
  overflow: visible !important;
}

.full-width {
  width: 95%;
}

.content-panel {
  margin-top: 10vh;
  padding-bottom: 5vh;
}

.primary-color-font {
  color: mat.get-theme-color(theme.$light-theme, primary);
}

.accent-color-font {
  color: mat.get-theme-color(theme.$light-theme, secondary);
}

.toolbar-template {
  color: mat.get-theme-color(theme.$light-theme, primary);
  padding-bottom: 10px;
  border-bottom: 10px solid mat.get-theme-color(theme.$light-theme, primary);
}

.footer-template {
  color: mat.get-theme-color(theme.$light-theme, primary);
}

.centered {
  display: flex;
  align-items: center;
  align-content: center;
}

.row {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  padding-top: 1vh;
}

.centered-row {
  align-content: center;
  align-items: center;
  justify-content: center;
}

.right-justified-row {
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

.space-around-row {
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.space-between-row {
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.top-align {
  align-items: start;
  align-content: start;
}

.right-text {
  text-align: end;
}

.no-padding {
  padding: 0;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25%, 2fr));
  grid-template-rows: auto;
  grid-gap: 1%;
}

@include utils.width-sm(50);
@include utils.width-sm(90);
@include utils.width-sm(95);
@include utils.width-sm(100);

@include utils.width-md(80);
@include utils.width-sm(75);
@include utils.width-md(100);

@include utils.width(100);
@include utils.width(95);
@include utils.width(90);
@include utils.width(80);
@include utils.width(75);
@include utils.width(70);
@include utils.width(66);
@include utils.width(60);
@include utils.width(50);
@include utils.width(45);
@include utils.width(40);
@include utils.width(35);
@include utils.width(33);
@include utils.width(30);
@include utils.width(25);
@include utils.width(20);
@include utils.width(10);
@include utils.width(5);
@include utils.horizontalpadding(2vw);
@include utils.text-align(center);
@include utils.text-align(left);
@include utils.text-align(right);

.fill-container {
  width: 100%;
}

span.list-item-content {
  padding-left: 1rem;
  display: flex;
  margin-top: -0.5rem;
}

.list-item-title {
  font-weight: bold;
  text-decoration: underline;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.active-sidemenu {
  @include mat.elevation(2, mat.get-theme-color(theme.$light-theme, secondary));
}

.bottom-border-accent {
  border-bottom: 5px solid mat.get-theme-color(theme.$light-theme, secondary);
}

.bottom-border-primary {
  border-bottom: 5px solid mat.get-theme-color(theme.$light-theme, primary);
}
.headline {
  font-size: 28px;
  font-weight: bold;
  color: mat.get-theme-color(theme.$light-theme, secondary);
  padding-left: 1vw;
}

.clickable-area {
  cursor: pointer;
}

.primary-background {
  background-color: mat.get-theme-color(theme.$light-theme, primary) !important;
}
.accent-background {
  background-color: mat.get-theme-color(
    theme.$light-theme,
    secondary
  ) !important;
}

.chip {
  border-radius: 50px;
  padding: 6px 12px 6px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 16px;
  font-weight: 700;
  display: inline-flex;
}

.primary-chip {
  background-color: mat.get-theme-color(theme.$light-theme, primary);
  color: #ffffff;
}

.primary-chip-outlined {
  color: mat.get-theme-color(theme.$light-theme, primary);
  background-color: #ffffff;
  border: mat.get-theme-color(theme.$light-theme, primary) solid 2px;
}

.accent-chip {
  background-color: mat.get-theme-color(theme.$light-theme, secondary);
  color: #ffffff;
}

.accent-chip-outlined {
  color: mat.get-theme-color(theme.$light-theme, secondary);
  background-color: #ffffff;
  border: mat.get-theme-color(theme.$light-theme, secondary) solid 2px;
}

.clickable-area:hover {
  background-color: #f6f6f6;
}

.heading-text {
  font-size: 1.5rem;
  text-align: center;
}
