@use '@angular/material' as mat;
@use '_utils' as utils;
@import 'rdas-theme2';

html,
body {
  height: 100%;
  margin: 0 !important;
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial,
    Lucida Grande, sans-serif;
}

header {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}

.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.mat-drawer-content {
  overflow: visible !important;
}

.full-width {
  width: 95%;
}

.content-panel {
  margin-top: 10vh;
  padding-bottom: 5vh;
}

.primary-color-font {
  color: mat.get-color-from-palette($app-primary);
}

.accent-color-font {
  color: mat.get-color-from-palette($app-accent);
}

.toolbar-template {
  color: mat.get-color-from-palette($app-primary);
  padding-bottom: 10px;
  border-bottom: 10px solid mat.get-color-from-palette($app-accent);
}

.footer-template {
  color: mat.get-color-from-palette($app-primary);
}

.centered {
  display: flex;
  align-items: center;
  align-content: center;
}

.row {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
  padding-top: 1vh;
}

.centered-row {
  align-content: center;
  align-items: center;
  justify-content: center;
}

.right-justified-row {
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

.space-around-row {
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.space-between-row {
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.top-align {
  align-items: start;
  align-content: start;
}

.right-text {
  text-align: end;
}

.no-padding {
  padding: 0;
}

@include utils.width-sm(50);
@include utils.width-sm(90);
@include utils.width-sm(95);
@include utils.width-sm(100);

@include utils.width-md(80);
@include utils.width-sm(75);
@include utils.width-md(100);

@include utils.width(90);
@include utils.width(80);
@include utils.width(75);
@include utils.width(70);
@include utils.width(66);
@include utils.width(60);
@include utils.width(50);
@include utils.width(45);
@include utils.width(40);
@include utils.width(33);
@include utils.width(30);
@include utils.width(25);
@include utils.width(20);
@include utils.width(10);
@include utils.width(5);
@include utils.horizontalpadding(2vw);
@include utils.text-align(center);
@include utils.text-align(left);
@include utils.text-align(right);

.fill-container {
  width: 100%;
}

span.list-item-content {
  padding-left: 1rem;
  display: flex;
  margin-top: -0.5rem;
}

.list-item-title {
  font-weight: bold;
  text-decoration: underline;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.active-sidemenu {
  border-left: 8px solid mat.get-color-from-palette($app-accent);
}

.bottom-border-accent {
  border-bottom: 5px solid mat.get-color-from-palette($app-accent);
}

.bottom-border-primary {
  border-bottom: 5px solid mat.get-color-from-palette($app-primary);
}

.clickable-area {
  cursor: pointer;
}

.clickable-area:hover {
  background-color: #f6f6f6;
}

.heading-text {
  font-size: 1.5rem;
  text-align: center;
}

.rdas-card {
  padding: 2vh 2vw;
}

.rounded-tab {
  background: #ffffff;
  padding: 2vh;
  width: fit-content;
  z-index: 666;
  position: relative;
  border-radius: 4px 4px 0 0;
  font-size: 1.1rem;
}

.rounded-card {
  background: #ffffff;
  border-top-left-radius: 0 !important;
  padding: 0 1vw 6vh 1vw;
  padding-bottom: 0;
  height: 95%;
}

.grid-list {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(45%, 2fr));
  grid-template-rows: auto;
  grid-gap: 5%;
}

.card-count {
  text-align: center;
  font-size: 2.7rem;
}

span.search-highlight {
  font-weight: 900;
  color: mat.get-color-from-palette($app-primary);
  text-decoration: underline;
}

.bar-chart-fill {
  fill: mat.get-color-from-palette($app-primary);
}

#Epidemiology-Articles-fill {
  fill: mat.get-color-from-palette($app-accent);
}

#Non-Epidemiology-Articles-fill {
  fill: mat.get-color-from-palette($app-primary);
}

.fill-spinner > .progress-bar-container {
  min-height: 60vh
}


button.mat-ripple.mat-mdc-tab-header-pagination.mat-mdc-tab-header-pagination-after {
 // z-index: 1;
}

.navigation-menu-panel {
  width: 25%;
  position: fixed !important;
  top: calc(60px + 17vh) !important
}

@media only screen and (max-width: 1024px) {
  .navigation-menu-panel {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .navigation-menu-panel {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .grid-list {
    grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
  }

  .width-50 {
    width: 75vw;
    flex-basis: 75vw;
  }
}

@media only screen and (max-width: 960px) {
  .grid-list {
    grid-template-columns: repeat(auto-fill, minmax(90%, 1fr));
  }

  .width-50 {
    width: 90vw;
    flex-basis: 90vw;
  }
}
