@use '@angular/material' as mat;
@import 'libs/shared/utils/header-template/src/theming';
@import 'libs/styles/src/styles/rdas-theme';

html,
body {
  height: 100%;
  margin: 0 !important;
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}

.main {
  display: flex !important;
  min-height: 100vh !important;
  flex-direction: column !important;
}

.mat-drawer-content {
  overflow: visible !important;
}

.full-width {
  width: 95%;
}
.content-panel {
  margin-top: 10vh;
  padding-bottom: 5vh;
}

.toolbar-template {
  background-color: mat.get-color-from-palette($app-primary);
  color: #ffffff !important;
//  z-index: 666;
}

.footer-template {
  background-color: mat.get-color-from-palette($app-primary);
  color: #ffffff;
}

.centered {
  display: flex;
  align-items: center;
  align-content: center;
}

.row {
  display: flex;
  flex-flow: row wrap;
  box-sizing: border-box;
}

.centered-row {
  align-content: center;
  align-items: center;
  justify-content: center;
}

.right-justified-row {
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

.space-around-row {
  justify-content: space-around;
  align-content: center;
  align-items: center;
}

.space-between-row {
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.width-75 {
  flex-basis: 75%;
}

.width-25 {
  flex-basis: 25%;
}
