<div class="content-wrapper">
  <header>
    <ncats-frontend-library-header-template class="header" [links]="links">
      <div class="left-options">
        <a href="/" title="RaMP home page">
          <img
            src="./assets/images/RaMPLogoNCATS.png"
            alt="RaMP logo"
            class="ramp-logo"
            id="logo"
          />
        </a>
      </div>
      <div class="right-options"></div>
    </ncats-frontend-library-header-template>
  </header>
  <main role="ncats-main">
    <div class="main-content">
      @if(isProd()){
      <div class="row space-around-row">
        <div class="width-95">
          <ramp-full-banner [showBanner]="isProd()"></ramp-full-banner>
        </div>
      </div>
      }
      <ncats-frontend-library-loading-spinner
        [isLoaded]="!loading()"
      ></ncats-frontend-library-loading-spinner>
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer>
    <ncats-frontend-library-footer-template>
      <div class="app-description">
        <a href="/" title="RaMP home page">
          <img
            src="./assets/images/RaMPLogoNCATS.png"
            alt="RaMP logo"
            class="ramp-logo-footer"
            id="logo"
          />
        </a>
      </div>
    </ncats-frontend-library-footer-template>
  </footer>
</div>
