<div class="content-wrapper">
  <header>
    <lib-header-template class="header" [links]="links">
      <div class="left-options">
        <a href="/" title="RaMP home page">
          <img
            src="./assets/images/RaMPLogoNCATS.png"
            alt="RaMP logo"
            class="ramp-logo"
            id="logo"
          />
        </a>
      </div>
      <div class="right-options"></div>
    </lib-header-template>
  </header>
  <main role="main" class="ncats-main">
    <div class="main-content">
      @if (isProd()) {
        <div class="row space-around-row">
          <div class="width-95">
            <lib-ramp-full-banner
              [showBanner]="isProd()"
            ></lib-ramp-full-banner>
          </div>
        </div>
      }
      <lib-loading-spinner [isLoaded]="!loading()"></lib-loading-spinner>
      <router-outlet></router-outlet>
    </div>
  </main>
  <footer>
    <lib-footer-template>
      <div class="app-description">
        <a href="/" title="RaMP home page">
          <picture>
            <source
              srcset="/assets/images/RaMPLogoNCATS.webp"
              type="image/webp"
            />
            <source
              srcset="/assets/images/RaMPLogoNCATS.png"
              type="image/png"
            />
            <img
              src="/assets/images/RaMPLogoNCATS.png"
              alt="RaMP logo"
              class="ramp-logo-footer"
              id="ramp-logo"
            />
          </picture>
        </a>
      </div>
    </lib-footer-template>
  </footer>
</div>
