<div class="content-wrapper" #contentWrapper cdkScrollable>
  <mat-sidenav-container class="mobile-menu-container">
    <header>
      @if (mobile) {
        <ncats-frontend-library-mobile-header-template
          [links]="links"
          #appHeader
        >
          <div left-options>
            <a routerLink="/"> </a>
          </div>

          <div class="right-options">
            <ncats-frontend-library-social-sign-on-button
              [user]="user"
            ></ncats-frontend-library-social-sign-on-button>
          </div>
        </ncats-frontend-library-mobile-header-template>
      } @else {
        <ncats-frontend-library-header-template [links]="links">
          <div class="left-options">
            <a routerLink="/"> </a>
          </div>
          <div class="right-options">
            <ncats-frontend-library-social-sign-on-button
              [user]="user"
            ></ncats-frontend-library-social-sign-on-button>
          </div>
        </ncats-frontend-library-header-template>
      }
    </header>
    <main role="main">
      <div class="main-content" (click)="closeSidenav()">
        <lib-shared-utils-file-upload></lib-shared-utils-file-upload>
        <router-outlet></router-outlet>
      </div>
    </main>
    <footer>
      <ncats-frontend-library-footer-template>
        <div class="app-description"></div>
      </ncats-frontend-library-footer-template>
    </footer>
  </mat-sidenav-container>
</div>
